fastapi==0.115.6
uvicorn[standard]==0.32.1
jinja2==3.1.4
python-multipart==0.0.12
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.6.1
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
itsdangerous==2.2.0
python-dateutil==2.9.0.post0
ldap3==2.9.1
python3-saml==1.16.0
openpyxl==3.1.5
reportlab==4.2.5
apscheduler==3.10.4
python-json-logger==2.0.7
aiofiles==24.1.0
orjson==3.10.12
